.menu {
	background-color: #EEEEEE;
	font-size: 12pt;
	margin: 2px;
	color: black;
}
.menuHeader {
	background-color: #CCCCCC;
	font-size: 14pt;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 3px;
}
.header {
	background-color: #0066FF;
	font-family:'Lucida Console', monospace;
	font-size: 25pt;	
	color: white;
}
.content {
	background-color: #EEEEEE;
	font-size: 12pt;
	margin: 2px;
}
.contentTitle {
	background-color: #CCCCCC;
	font-size: 16pt;
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	padding: 3px;
}
.contentBody {
	padding: 3px;
}
a {
	color: black;
}